

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HealthCareApp.ViewModels.PatientViewModel

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
               <div class="row">
                   <div class="col-md-3">
                       <div class="card card-primary card-outline">
                           <div class="card-body box-profile">
                               <h3 class="profile-username text-center">@Html.DisplayFor(model => model.PatientDetail.FullName)</h3>

                               <p class="text-muted text-center">@Html.DisplayFor(model => model.PatientDetail.Email)</p>

                               <ul class="list-group list-group-unbordered mb-3">
                                   <li class="list-group-item">
                                       <b>@Html.DisplayNameFor(model => model.PatientDetail.Gender)</b>
                                       <a class="float-right">@Html.DisplayFor(model => model.PatientDetail.Gender)</a>
                                   </li>
                                   <li class="list-group-item">
                                       <b>@Html.DisplayNameFor(model => model.PatientDetail.BloodGroup)</b>
                                       <a class="float-right">@Html.DisplayFor(model => model.PatientDetail.BloodGroup)</a>
                                   </li>
                                   <li class="list-group-item">
                                       <b>@Html.DisplayNameFor(model => model.PatientDetail.BirthDate)</b>
                                       <a class="float-right">@Html.DisplayFor(model => model.PatientDetail.BirthDate)</a>
                                   </li>
                               </ul>
                           </div>
                       </div>

                       <div class="card card-primary">
                           <div class="card-header">
                               <h3 class="card-title">Other Info</h3>
                           </div>
                           <div class="card-body">
                               <strong><i class="fa fa-phone margin-r-5"></i> Contact</strong>
                               <p class="text-muted">@Html.DisplayFor(model => model.PatientDetail.Phone)</p>
                               <hr>
                               <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                               <p class="text-muted">@Html.DisplayFor(model => model.PatientDetail.Address)</p>
                            </div>
                       </div>
                       </div>
                                    <div class="col-md-9">
                                        <div class="card">
                                            <div class="card-header p-2">
                                                <h3 class="card-title">Checkup History</h3>
                                                <a title="Add new" class="btn btn-success float-right btn-sm" asp-controller="Patient" asp-action="CheckUp" asp-route-patientId="@Model.PatientDetail.PatientId"><i class="fa fa-plus"></i>  Add New Checkup </a>

                                                @*<a title="Add new" class="btn btn-success pull-right btn-sm" href="@Url.Action("CheckUp", "Patient", routeValues: new { patientId = Model.PatientDetail.PatientId  })"><i class="fa fa-plus"></i>  Add New Checkup </a>*@
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="card-body">
                                                
                                                <div class="tab-pane" id="timeline">
                                                    <!-- The timeline -->
                                                    
                                                    @if (Model.CheckupHistoryList != null && Model.CheckupHistoryList.Count > 0)
                                                    {
                                                        <div class="timeline timeline-inverse">


                                                            @foreach (var each in Model.CheckupHistoryList)
                                                            {
                                                                <!-- timeline time label -->
                                                                <div class="time-label">
                                                                    <span class="bg-red">
                                                                        @(each.CheckupDate.HasValue ? each.CheckupDate.Value.ToString("dd MMM yyyy") : "")
                                                                    </span>
                                                                    @*<span class="bg-blue">
                                                                        Doctor : @each.DoctorName
                                                                    </span>*@
                                                                    <span class="pull-right margin-r-10">
                                                                        @*<a class="btn btn-primary btn-sm" href="@Url.Action("CheckUp", "Patient", routeValues: new { patientId = Model.PatientDetail.PatientId, checkupId = each.PatientCheckupId})"><i class="fa fa-pencil"></i></a>
                                                                        <a class="btn btn-danger btn-sm detailRow" href="@Url.Action("Detail", "Patient", routeValues: new { Id = Model.PatientDetail.PatientId})" data-id="@each.PatientCheckupId"><i class="fa fa-trash-o"></i></a>*@

                                                                    </span>
                                                                </div>
                                                                <!-- end timeline time label -->
                                                                <!-- timeline item : Symptoms -->
                                                                <div>
                                                                    <i class="fas fa-user bg-info"></i>
                                                                    <div class="timeline-item">
                                                                       
                                                                        <h3 class="timeline-header"><a>Symptoms</a></h3>
                                                                        <div class="timeline-body">
                                                                            @each.Symptoms
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- END timeline item : Symptoms-->
                                                                <!-- timeline item : Diagnosis-->
                                                                <div>
                                                                    <i class="fas fa-user bg-info"></i>
                                                                    <div class="timeline-item">
                                                                       
                                                                        <h3 class="timeline-header">
                                                                            <a>Diagnosis</a>
                                                                        </h3>
                                                                        <div class="timeline-body">
                                                                            @each.Diagnosis
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End timeline item : Diagnosis-->
                                                                <!-- timeline item : Prescription-->
                                                                @*if (each.Prescription != null)
                                                                {
                                                                    <div>
                                                                        <i class="fa fa-flask bg-yellow"></i>
                                                                        <div class="timeline-item">
                                                                            <h3 class="timeline-header">
                                                                                <a>Prescription</a>
                                                                            </h3>
                                                                            @if (each.Prescription.MedicineList != null && each.Prescription.MedicineList.Count > 0)
                                                                            {
                                                                                <div class="timeline-body">
                                                                                    <table class="table">
                                                                                        <tr>
                                                                                            <th style="width: 10px">#</th>
                                                                                            <th>Medicine</th>
                                                                                            <th>No.Of Days</th>
                                                                                            <th>When to Take</th>
                                                                                            <th style="width: 100px">Before Meal?</th>
                                                                                        </tr>
                                                                                        @{
                                                                                            int i = 0;
                                                                                            foreach (var medicine in each.Prescription.MedicineList)
                                                                                            {
                                                                                                i = i + 1;

                                                                                                <tr>
                                                                                                    <td>@i.</td>
                                                                                                    <td>@medicine.MedicineName</td>
                                                                                                    <td>@medicine.NoOfDays</td>
                                                                                                    <td>@medicine.WhenToTake</td>
                                                                                                    <td>@(medicine.IsBeforeMeal ? "Yes" : "No")</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    </table>
                                                                                </div>
                                                                            }

                                                                            <div class="timeline-body">
                                                                                <b>Extra Note :</b> @each.Prescription.ExtraNotes
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                }*@
                                                                <!-- End timeline item : Prescription-->
                                                            }

                                                            
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <span>No checkup history found</span>
                                                    }


                                                </div>
                                            
                                                </div>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    @*<div class="form-actions">
                                        <div class="row text-center">
                                            <div class="col-md-12 ">
                                                    <a class="btn btn-primary btn-flat" href="@Url.Action("Details", "Patient")"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</a>
                                                </div>
                                        </div>
                                    </div>*@
                                
            <!-- /.container-fluid -->
                   </div>
                </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    $(this.document).ready(function () {
        if ('@ViewBag.SuccessMsg' != null && '@ViewBag.SuccessMsg' != '') {
            notificationMessage('@ViewBag.SuccessMsg', 'success')
        }

        $("a.detailRow").live("click", function (e) {

            e.preventDefault();

            var pid = $(this).data('id')
            var postData = { "pid": pid, "mode": "del" };
            var href = this.href;
            var confirmMsg = 'Are you sure want to delete detail?'
            jConfirm(confirmMsg, 'Confirm', function (r) {
                if (r == true) {
                    HRN.showLoader();

                    $.ajax({
                        url: href,
                        data: postData,
                        type: 'POST',
                        success: function (response) {
                            if (response.IsError) {
                                notificationMessage(response.ErrorMsg, 'danger')
                            }
                            else {
                                $('#divPageBody').html(response);
                                notificationMessage('Patient checkup detail deleted successfully.', 'success');
                            }

                            HRN.hideLoader();
                        }
                    });
                }
            });
        });
    });


</script>
