@model IEnumerable<HealthCareApp.Models.LaboratoryTestCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="content-wrapper">


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    <a title="Add new" class="btn btn-success btn-sm" asp-action="Create"><i class="fa fa-plus"></i>Create New</a>
                                </p>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LabTestCategoryName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LabTestCategoryName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.LaboratoryTestCategoryId"><i class="fas fa-edit"></i> Edit</a>
                                                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.LaboratoryTestCategoryId"><i class="fas fa-trash-alt"></i> Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
</div>